<div class="row">
  <div class=" offset-7 text-right text-danger mr-5 mt-3 mb-4">
    <span>Trạng thái: <%= @request_payment.status %></span>
  </div>
</div>
<div class="ml-5 mr-5 pb-5 border border-dark">
  <%= render 'header_form' %>
  <%= render 'business_trip_info' %>
  <%= render 'list_business_cost' %>

</div>

