<div class="d-flex flex-row-reverse">
  <%= link_to report_request_payment_download_path(@request_payment, format: "pdf"), target: "_blank", class: "btn btn-secondary m-3 download" do %>
      <i class="fas fa-print"></i> In báo cáo
  <% end %>
</div>
<div class="ml-5 mr-5 pb-5 border border-dark">
  <%= render 'header_form' %>
  <%= render 'business_trip_info' %>
  <%= render 'list_business_cost' %>

</div>

