<div class="modal-body">
  <%= form_for :department do |f| %>
    <div class="code">
      <label>Mã bộ môn</label>
      <%= f.text_field :code %><br />
    </div>
    <div class="name">
      <label>Tên bộ môn</label>
      <%= f.text_field :name %><br />
    </div>
    <%= f.submit "Lưu", disable_with: 'Submiting...' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>

  <% end %>
</div>

