<div class="ml-1 mr-1">
  <%= render 'pdfs/header_form', { request_payment: request_payment } %>
  <%= render 'pdfs/business_trip_info', { request_payment: request_payment } %>
  <%= render 'pdfs/list_business_cost', { request_payment: request_payment } %>

</div>

