<%= link_to request_payment_approve_path(@request_payment), method: :post,  class: 'btn btn-secondary col-5', style: "width: 200px" do %>
  Đồng ý yêu cầu
<% end %>
<button type="button" class='btn btn-danger col-5' style= "width: 200px" data-toggle="modal" data-target="#exampleModal">
  Từ chối
</button>
