<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h4 class="ml-2">➢ Lý do từ chối</h4>

    <% ReasonReject.where(request_payment_id: @request_payment.id).each_with_index do |reason, index| %>
      <ul class="ml-5 mr-5 mt-3">
        <% if index ==  ReasonReject.where(request_payment_id: @request_payment.id).size - 1 %>
          <li class="text-secondary"><%= reason.reason %></li>
        <% else %>
          <li class="text-secondary"><%= reason.reason %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-2"></div>
</div>

