<h5 class="" style="margin: 100px 150px 10px 180px !important">➢ Lý do từ chối</h5>

<div class="row pt-5">
  <div class="col-2"></div>
  <div class="col-8">

    <ul class="ml-5 mr-5">
      <% ReasonReject.where(request_payment_id: @request_payment.id).order(id: :ASC).each_with_index do |reason, index| %>
          <% if index ==  ReasonReject.where(request_payment_id: @request_payment.id).size - 1 %>
            <li class="text-danger"><%= reason.reason %></li>
          <% else %>
            <li class=""><%= reason.reason %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-2"></div>
</div>

