/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";

// @import "users";

body {
  font-family: Lato, sans-serif !important  ;
}

.active {
  color: #b2d7ff;
}

.hidden {
  display: none;
}

.btn-primary {
  background-color: #2f343f !important;
  border-color: #f5f6fa !important;

  :hover {
    background-color: #2f3640 !important;
  }
}

.btn-secondary {
  background-color: #44bd32 !important;
  border-color: #f5f6fa !important;

  :hover {
    background-color: #44bd32 !important;
  }
}

.btn-danger {
  border-color: #f5f6fa !important;
}

.bg-center {
  background-color: #c7ecee !important;
}

.text-secondary{
  color: #44bd32 !important;
}

.side_bar {
  background-color: #101A32;

  .logo {
    width: 90px;
    height: 90px;
    color: #dfe6e9;
    font-size: 3em;
    font-family: cursive;
  }

  .navbar {
    margin-top: 50px;
    font-size: medium;

    .nav-item {
      // margin-top: 5px;
      // border-bottom: 1px solid black;
      transition: 1s;

      a {
        color: #ffffff;
      }
    }

    .nav-item:hover {
      margin-left: 7px;
    }

    li::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      margin: 10px;
      background: #f00;
    }
  }
}

.header {
  background-color: #dfe6e9;
  min-height: 100px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.main {
  background-color: #dff9fb;
}


.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #b2d7ff;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
