.login {
  background-image: image-url('IMG_20201005_070459_569.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-login {
  font-size: 1.4rem;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.99;
  background-color: #4bcffa;
  opacity: 0.95;
}

.form-login {
  input {
    border: none;
  }
}
