<div class="header d-flex justify-content-end" style="font-size: 1.2em">

  <div class="mr-5">
    <% if user_signed_in? %>
      <div class="d-flex align-items-end h-50 mt-2">
        <% if current_user.role == 'admin' or current_user.role == 'education' %>
          <span class=""> Hello, </span>
          <span class="" ><%= current_user.role %></span>
        <% else %>
          <span> Hello, <strong><%= current_user.full_name %></strong> </span>
        <% end %>
      </div>
      <%= link_to('Đăng xuất', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to('Đăng nhập', new_user_session_path) %>
    <% end %>
  </div>
</div>
