<!DOCTYPE html>
<html>
<head>
  <title>Report</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <%# <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" > %>

  <style>
    <%= (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)) %>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
